/* hotels controller /index */
.hotels{
  background-color: #fffdf3;
  .hotel-block{
    margin-top: 30px;
    display: flow-root;
    justify-content: space-between;
  }
  .hotel-box{
    display: inline-block;
    width: 90%;
    margin: 50px;
    background-color:white;

    border: 2px gray solid;
    .hotel-thunmnail{
      overflow: hidden;
      height: 100px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .hotel-profile{
      padding: 0 10px 5px;
      .hotel-name{
        height: 30px;
        font-size: 18px;
        font-weight: bold;
        color: #909090;
      }
      .hotel-area{
        height: 30px;
        font-size: 16px;
        font-weight: bold;
      }
      .hotel-price{
        text-align: right;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }
}

/* shared/_hotel_contents*/
._hotel_contents{
  .hotel-name{
    margin-bottom: 10px;
    font-size: 25px;
  }
  .hotel-thumbnail{
    width: 500px;
    height: 400px;
    img{
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
  .hotel-overview{
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    span + span{
      margin-left: 10px;
    }
  }
}




// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
