<section class="section-top">
  <div class="reservation-block">
    
    <%= render 'shared/hotels_contents', hotel: @hotel %>
    <div class="reservation-detail">
      <h3 class="title">部屋情報を変更する</h3>
      <%= render 'hotels_input', hotel: @hotel, submit_text: "更新" %>
    </div>
    
  </div>
</section>
