<section class="section-top register-hotel">

  <div class="reservation-detail">
    <h3 class="title">新しい宿泊先を登録する</h3>
    <%= render 'hotels_input', hotel: @hotel, submit_text: "登録を完了する" %>
  </div>
 
</section>
